<div class='row'>
  <h1>Welcome to Find The Errors</h1>
  <p>If you're seeing this page, that means you found the first one! This project contains two models with basic CRUD actions: Post and Task. There is also a static pages controller with home and about views. Sprinkled throughout this application are bugs. It's your responsibility to track them down and fix them. Head over to the about page for more instructions!</p>
</div>
